.fits-wrapper.row
  -@fits.each do |fit|
    .fit
      .fit-head
        .name
          = fit.user.user_name
      .image.center-block
        =link_to (image_tag fit.image.url(:medium), class:'img-responsive'), fit_path(fit)
      %p.caption
        =fit.caption