= render 'fit', fit: @fit
- if @fit.user.id == current_user.id
  .text-center.edit-links
    = link_to "Back", fits_path
    |
    = link_to "Edit", edit_fit_path(@fit)
- else
  .text-center.edit-links
    =link_to "Back", fits_path