.fits-wrapper.row
  .fit
    .fit-head
      .name
        YUSKIX
    .image.center-block
      =image_tag @fit.image.url(:medium)
    %p.caption
      =@fit.caption
    .text-center.edit-links
      = link_to "BACK", fits_path
      |
      = link_to "EDIT", edit_fit_path(@fit)